{% extends 'dashboard/base.html' %}

{% block content %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            <div>
                <table class="table" style="text-align: center;">
                    {% csrf_token %}
                    <thead>
                        <tr>
                            <th>Plan Type</th>
                            <th>Customer</th>
                            <th>Period</th>
                            <th>EDIT</th>
                            <th>DETAILS</th>
                            <th>DELETE PLAN</th>
                            <th>GENERATE PLAN ITEMS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in object_list %}
                        <tr>
                            <td>{{ plan.cpt.plan_type }}</td>
                            <td>{{ plan.cpt.customer }}</td>
                            <td>{{ plan.period }}</td>
                            <td><a href="{% url 'sales:salesplan-update' plan.id %}">Edit</a></td>
                            <td><a href="{% url 'sales:salesplan-detail' plan.id %}">Details</a></td>
                            <td><a href="{% url 'sales:salesplan-delete' plan.id %}">Delete</a></td>
                            <td><a href="{% url 'sales:generate-plan-items' plan.id %}">GENERATE</a></td>
                        </tr>
                       {% endfor %}
                    </tbody>
                        
                  </table>
            </div>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  {% endblock content %}