{% extends 'dashboard/base.html' %}

{% block content %}
<table class="table" style="text-align: center;">
    {% csrf_token %}
    <thead>
      <tr >
        <th>Product Group</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <th>{{object}}</th>
                <td><a href="{% url 'products:detail-product-group' object.id %}">Details</a></td>
                <td><a href="{% url 'products:update-product-group' object.id %}">Edit</a></td>
                <td><a href="{% url 'products:delete-product-group' object.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

  {% endblock content %}